<%= form_for(@hypocrite) do |f| %>
  <% if @hypocrite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hypocrite.errors.count, "error") %> prohibited this hypocrite from being saved:</h2>

      <ul>
      <% @hypocrite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :current_position %><br />
    <%= f.text_field :current_position %>
  </div>
  <div class="field">
    <%= f.label :image_path %><br>
    <%= f.file_field :image_path %>
  </div>
  <div class="field">
    <%= f.label :descent %><br>
    <%= f.text_field :descent %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
