<h1>Listing hypocrites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hypocrites.each do |hypocrite| %>
  <tr>
    <td><%= hypocrite.name %></td>
    <td><%= hypocrite.description %></td>
    <td><%= link_to 'Show', hypocrite %></td>
    <td><%= link_to 'Edit', edit_hypocrite_path(hypocrite) %></td>
    <td><%= link_to 'Destroy', hypocrite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>`
</table>

<br />

<%= link_to 'New Hypocrite', new_hypocrite_path %>
